*{
    margin: 0px;
}
header{
    max-width: 1200px;
    margin: auto;
    display: flex; 
    justify-content: space-between;
    padding: 30px;
}
.section1{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #F4F4F5;
    padding: 80px ;
    padding-bottom:0px ;
}
.gigant{
    font-size: 80px;
}
.butt{
    display: flex; 
    align-items: center;
    gap: 20px;
}
.rabot{
    background-color: #D7B18D;
    padding: 15px;
    border: none;
    border-radius: 10px;
}
.section2{
    max-width: 1200px;
    margin: auto;
    padding: 80px;
}
.section3{
    max-width: 1200px;
    margin: auto;
}
.verx , .vniz{
    padding: 20px 0px;
}
.section4{
    max-width: 1200px;
    margin: auto;
}
.x4{
    padding: 20px 0px;
    display: flex;
    gap: 20px;
}
.pyat{
    width: 390px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #D7B18D;
    border-radius: 10px;
    padding: 10px;
}
.ot{
    display: flex; 
    gap: 30px;
    align-items: center;
}
.podr{
    width: 280px;
    border: none;
    border: 1px solid #D7B18D;
    border-radius: 5px;
}
.melkiy{
    font-size: 14px;
}